:host(){
    --dark-blue:#0b0d21;
    --light-white:#fafafa;
    --light-blue:#4f7df9;
    --light-pink:#e92e63;
    --dull-blue:#1d1e33;
    --size-16:16px;
    --size-12:12px;
}
.box{
    padding: var(--size-16);
    max-width: 420px;
    text-align: center;
    margin: auto;
    background:  var(--dark-blue);
    color: var(--light-white);
    border-radius: 20px;
    /* font-size: 20px; */
}
h1{
    font-size: 36px;
    padding: 20px 0px;
    font-weight: bold;
}
.info-wrapper{
    font-size: var(--size-14);
    padding: var(--size-16);
    background: var(--dull-blue);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    text-align: center;
}
h2{
    font-size: 26px;
    color: var(--light-pink);
}
.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/bmiappbackground) ;
    background-size: cover;
    /* background-size: auto; */
    background-repeat: no-repeat;
    margin-bottom: 5px;
   /* background-position: center center;
   labels */
}
label{
    font-size: 20px;
    color: var(--light-white);
}
input{
    color: var(--dull-blue);
    padding: 7px;
    font-size: 14px;
}
.button{
    background: var(--light-pink);
    font-size:var(--size-16);
    border-color: var(--light-pink);
    padding: 6px;
    color: white;
}
.result-value{
    color: var(--light-blue);
    font-size: 30px;
}